<header class="span12">
  <h1>Adapti</h1>
  <h2>Sistemas Web</h2>
</header>

<section class="span8">
  Este é o body da página
</section>

<aside class="span4">
  Esta é a lateral da página
</aside>

<footer class="span12">
  E este é o rodapé
</footer>
